---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
---

<MainLayout title="Om - Norge POC">
  <Header title="Om prosjektet" />
  
  <section>
    <p>
      Dette er en enkel POC for å demonstrere integrasjon av følgende teknologistakk:
    </p>
    <ul>
      <li>Astro - For statisk side generering og komponenter</li>
      <li>Deno - Som runtime miljø</li>
      <li>Enonic - For CMS og backend håndtering</li>
      <li>Designsystemet - For UI komponenter</li>
      <li>TypeScript - For type-sikker kode</li>
    </ul>
  </section>
</MainLayout> 