---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
---

<MainLayout title="Norge - POC">
  <Header title="Norge - Prototype" />
  
  <section>
    <p>
      Dette er en prototyp som bruker følgende teknologier:
    </p>
    <ul>
      <li>Astro</li>
      <li>Deno</li>
      <li>Designsystemet</li>
      <li>React</li>
      <li>TypeScript</li>
    </ul>
  </section>
</MainLayout> 